@media only screen and (max-width: 767px){
    section{padding:30px 0px;}
    .row,
    .hero-text-box{padding: 0 4%;}
    .col{
        width:100%;
        margin: 0 0 4% 0;
    }
    .plan-box{
        /* max-width: fit-content; */

        margin-top: 20px;
    }


   
    .row-submit{
        margin:0%;
    }

    .main-nav {
    display: flex;
    justify-content: space-between;
    gap: 0rem;
    margin-left: 30px;
}



    input[type=submit]{
        min-width: fit-content;
        min-height: fit-content;
        max-height: fit-content;
        max-width: fit-content;
    }
    .row-cust{
        display: flex;
        flex-direction: column;
    }

    .row-cities{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        text-align: center;
    }


    .row-cities img {
        width: 100%;
        max-width: 200px;
        height: auto;
        max-width: 200px;
        margin: 10px auto;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #777575;
}
   
   /* .section-form{
    min-height: fit-content;
   } */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.meals-showcase { grid-template-columns: 1fr 1fr; }

.contact-form{
    box-shadow: none;
    border: none;
}
.span-1-of-5 {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    min-width: 150px;
    
}

/* html, body {
  overflow-x: hidden;
} */

/* .row-form{
    margin-left: 60px;
} */




}

@media only screen and (max-width:480){
    body{width: 100%;
        font-size: 4%;
    }
    .section-form{
        width: 100%;
    }
    .submit-div{
        position: absolute;
        
    }

    /* html, body {
  overflow-x: hidden;
    } */
 .main-nav {
    display: flex;
    justify-content: space-between;
    gap: 0rem;
    margin-left: 30px;
}



    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .row-cities img {
    width: 100%;
    max-width: 300px;
    height: 250px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #777575;
}
    .row-cust{
        display: flex;
        flex-direction: column;
    }

    .row-cities{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .row {
    display: block;
    /* width: 150px; */
    /* display: grid; */
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    max-width: 1140px;
    /* margin: 15px; */
    padding: 0 1rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.meals-showcase { grid-template-columns: 1fr 1fr; }
/* .row-form{margin-left: 60px;} */
    

.contact-form{
    box-shadow: none;
    border: none;
}
.span-1-of-5 {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    min-width: 150px;
}
}

@media only screen and (max-width: 360px) {

    html {
        font-size: 60%;
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }


   
    .nav-row {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10px;
        width: 100%;
    }

    .logo {
        width: 50px;
        margin-left: 0;
    }

    .main-nav {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-size: large;
    margin-left: 30px;
}

    .main-nav li a {
        font-size: 70%;
    }


   
    header {
        height: 90vh;
        background-position: center;
        padding: 0;
    }

    .hero-text-box {
        left: 3%;
        /* top: 45%; */
        width: 95%;
        transform: translateY(-50%);
        text-align: center;
    }

    h1 {
        font-size: 1.6rem;
        line-height: 1.4;
    }

    .btn {
        padding: 6px 15px;
        font-size: 80%;
        margin-bottom: 10px;
    }


   
    .row {
        width: 100%;
        margin: 0 auto;
        display: block;
        padding: 0 10px;
    }

    .long-copy {
        width: 100%;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .long-row {
        grid-template-columns: 1fr; 
        gap: 20px;
    }


   
    .meals-showcase {
        grid-template-columns: 1fr;
        gap: 15px;

    }

    .meal-photo img {
        width: 85%;
        height: 80%;
        margin: 15px;
        border-radius: 10px;
    }

    .row-steps {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .mob-img {
        width: 50%;
        height: 60%;
    }

    .store-pic img {
        width: 90px;
    }

    .download-pic img {
        width: 200px;
        margin: 0 auto;
    }

    .row-cities {
        grid-template-columns: 1fr;
    }

    .meals-showcase { grid-template-columns: 1fr 1fr; }

    .row-cities img {
        width: 100%;
        max-width: 200px;
        height: auto;
        max-width: 200px;
        margin: 10px auto;
    }

    .row-cust {
        grid-template-columns: 1fr;
        padding: 0 10px;
    }

    blockquote {
        font-size: 1.1rem;
        line-height: 1.4;
    }

    .plan-box {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }

    .plan-box h3 {
        font-size: 140%;
    }
    
    .contact-form {
        margin-right: 24px;
        width: 35%;
        padding: 10px;
        margin: 0 auto;
    }

    input[type=text],
    input[type=email],
    select,
    textarea {
        font-size: 1.2rem;
    }

    textarea {
        height: 80px;
    }

    footer {
        padding: 30px 10px;
    }

    .rowfoot {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .col-links ul,
    .col-social ul {
        width: 100%;
        justify-content: center;
        gap: 20px;
    }

    .rowfooter p {
        font-size: 90%;
        margin-top: 20px;
    }
}